xsd/acTividad/Ejercicio3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="ejercicio3.xsd" type="application/xml"
schematypens="http://www.w3.org/2001/XMLSchema"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="centro_educativo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="clases">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="clase">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="alumnos">
                                            <xs:complexType>
                                                <xs:sequence>                                                                                                                                                                  
                                                    <xs:element name="alumno"
                                                    minOccurs="1" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="nombre" type="xs:string"/>
                                                                <xs:element name="email" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>                                                                                                                                                                  
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
