xsd/acTividad/Ejercicio1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="ejercicio1.xsd" type="application/xml"
schematypens="http://www.w3.org/2001/XMLSchema"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="persona">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="apellido" type="xs:string"/>
                <xs:element name="edad" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>