xsd/Actividad1/ejercicio3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cliente" type="xs:string"/>
        <xs:element name="fecha" type="xs:date"/>
        <xs:element name="total" type="xs:decimal"/>
        <xs:element name="lineas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="linea" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="producto" type="xs:string"/>
                    <xs:element name="unidades" type="xs:integer"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
